.detail-page {
  display: flex;
  margin: auto;
  width: 80%;
  gap: 20px; /* Space between main and related items */
  padding: 20px;
}

.main-category {
  flex: 0 0 70%;
  padding: 20px;
  border-right: 2px solid #eee; /* Separation between main and related items */
}

.related-items {
  flex: 0 0 30%;
  padding: 20px;
}

.images-container, .videos-container, .files-container {
  margin-bottom: 20px;
}

.detail-image {
  width: 50%;
  margin-bottom: 10px;
  border-radius: 8px;
}

.video-wrapper {
  margin-bottom: 20px;
}

.file-link {
  display: block;
  margin-bottom: 10px;
  color: #007bff;
  text-decoration: none;
}

.file-link:hover {
  text-decoration: underline;
}

.related-item {
  margin-bottom: 20px;
}

.related-image {
  width: 100%;
  height: auto;
  margin-top: 5px;
  border-radius: 4px;
}
